<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>RSS</title>
		<link
			rel="stylesheet"
			href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css"
		/>
	</head>
	<body>
		<button id="logout-btn">Logout</button>
		<form id="form">
			<fieldset>
				<legend>
					Add an RSS Link
					<span class="icon-rss"></span>
				</legend>
				<div class="row col-sm-12 col-md-6">
					<input
						placeholder="https://vivekmurali.in/index.xml"
						type="text"
						name="link"
						id="link"
					/>
				</div>
				<div class="row col-sm-12 col-md-6">
					<input
						class="primary"
						type="button"
						value="submit"
						id="submit-btn"
					/>
				</div>
			</fieldset>
		</form>
		<br />

		<h4>Your links</h4>
		<table>
			<caption>
				Your links
			</caption>
			<thead>
				<tr>
					<th>Link</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
				<tr>
					<td data-label="Link">{{.Link}}</td>
					<td data-label="Delete">
						<button
							class="delete-btn secondary"
							data-id="{{.Id}}"
						>
							delete
						</button>
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>
		<span class="toast" id="toast" style="visibility: hidden">Not a valid RSS link</span>
	</body>
</html>

<script>
	document.getElementById("logout-btn").addEventListener("click", () => {
		fetch("/logout", { method: "POST" }).then((res) => {
			if (res.ok) {
				location.assign("/login");
			}
		});
	});
	form = document.getElementById("form")
	form.addEventListener("submit", (e) => {
		e.preventDefault();
		e.stopPropagation();
	});
	document.getElementById("submit-btn").addEventListener("click", () => {
		let formData = new FormData();
		formData.append("link", document.getElementById("link").value);
		fetch("/add", {
			method: "POST",
			body: formData,
		})
			.then((res) => {
				if (res.ok) {
					location.reload();
				} else {
					document.getElementById("toast").style.visibility = "visible"
					return res.text();
				}
			})
			.then((res) => {
				console.log(res);
			});
	});

	document.querySelectorAll(".delete-btn").forEach((el) => {
		el.addEventListener("click", () => {
			//console.log(el.dataset.id);
			fetch("/delete/" + el.dataset.id, {
				method: "DELETE",
			}).then((res) => {
				if (res.ok) {
					location.reload();
				}
			});
		});
	});
</script>
