<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>RSS</title>
		<link
			rel="stylesheet"
			href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css"
		/>
	</head>
	<body>
		<form action="" method="" id="form">
			<fieldset>
				<legend>Login</legend>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<input
							type="text"
							name="email"
							id="email_id"
							placeholder="email"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<!-- <br /> -->
						<input
							type="text"
							name="password"
							id="password_id"
							placeholder="password"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<!-- <br /> -->
						<input
							class="primary"
							type="button"
							value="submit"
							id="submit-btn"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<a href="/register"
							>If you don't have an
							account</a
						>
					</div>
				</div>
			</fieldset>
		</form>
	</body>
</html>

<script>
	form = document.getElementById("form");
	btn = document.getElementById("submit-btn");

	form.addEventListener("submit", (e) => {
		e.preventDefault();
		e.stopPropagation();
	});
	btn.addEventListener("click", () => {
		const data = {
			email: document.getElementById("email_id").value,
			password: document.getElementById("password_id").value,
		};
		//console.log(data);
		//console.log(document.getElementById("email_id").value);
		fetch("/login", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(data),
		})
			.then((response) => response.text())
			.then((text) => {
				//console.log(text);
				location.replace("/dashboard");
			})
			.catch((err) => {
				console.error(error);
			});
	});
</script>
